.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid $green;
    background-color: $green;
    border-radius: 5px;
    outline: none;
    &:hover {
        border-color: $grey;
    }
}

.product-title {
    color: #afafaf;
    font-size: 27px;
    line-height: 25px;
    font-weight: 400;
}

@media (max-width: 860px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 479px) {
    .container {
        padding: 0 10px;
    }
}
